<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539254845226-b761469v3mn2sd29glubc1jt5pl56atk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539254845226-b761469v3mn2sd29glubc1jt5pl56atk</string>
	<key>API_KEY</key>
	<string>AIzaSyDoBIgJbzC-FM5hGIWzHboh3OQpnY6-KsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>539254845226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spimo</string>
	<key>PROJECT_ID</key>
	<string>spimo-project</string>
	<key>STORAGE_BUCKET</key>
	<string>spimo-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539254845226:ios:eda592793e4048af45f853</string>
</dict>
</plist>